/* *{
    margin: 0;
    padding: 0;
} */


img{
    width: calc(1.5*600px);
    height: calc(1.5*600px);
    margin-left: calc(1.5*200px);
    margin-top: -90px;
}


.logo{
      height: 70px;
      width: 210px;
      margin: 0;
      margin-left: 100px;
}

.menu{
    margin-top: 10px;
    padding: 20px 0;
}
 
.menu a{
    text-decoration: none;
    color: #d1d6e0;
    padding-right: 35px;
    
}

.menu .active{
    color: #3b3b3b;
    font-weight: 900;
}

.button{
text-decoration: none;
color: #fff;
padding: 6px 45px;
background-color: #333333;
border-radius: 12px;
text-align: center;
margin-top: 15px;
margin-bottom: 8px;
font-weight: 600;
margin-right: 50px;
}

.main-nav a{
    padding-top: 15px;
}


.main-nav{
display: flex;
justify-content: space-between;
background-color: #f8fbfb;
}



h1{
    font-weight: 900;
    font-size: calc(1.5*4rem);
    font-family: helvetica;

}


.money-melyna{
    color: #1e78f0;
}



.container{
 margin: 0 100px;
    display: flex;

}

.lygiuote-get{
    display: flex;
    flex-direction: row;
    
}

i{
    color: rgb(102, 224, 102);
}

.get-text{
    font-weight: 300;
    margin-left: 0.5rem;
    color: #afc3e5;
    font-size: 18px;
  
}

.text-gray {
    color: #98aacc;
    font-size: calc(1.5*1rem);
}

.m{
  margin-top: 50px; 
}

.m-2{
    margin-top: 100px;
}


.m-3{
    margin-top: 150px;
}


.main-kaire {
    margin-right: 200px;
}

.button-1{
    color: #fff;
    background-color: #1e78f0;
    border-radius: 10px;
    padding: 30px 45px;
    border: none;
    cursor: pointer;
    font-size: 20px;

}

.button-2{
    color: #333333;
    background-color: #fff;
    border: 1px solid lightgray;
}

footer{
    text-align: right;
    background-color: #f8fbfb;
    padding: 25px;
    font-weight: 500;
  
}


.trio-block{
    display: flex;
    margin-right: 1700px;
    margin-left: 100px;
}

.trio-block .block-1{
    background-color: #e9f3ff;
    position: relative;
        flex-direction: column;
    border-radius: 25px;
    margin-right: 25px;
    padding: 0 50px;
    padding-bottom: 25px;


}


.trio-block .block-2{
    background-color: #faeff6;
    position: relative;
    flex-direction: column;
border-radius: 25px;
margin-right: 25px;
padding: 0 50px;
padding-bottom: 25px;



}


.trio-block .block-3{
    background-color: #f2ecff;
    position: relative;
    flex-direction: column;
border-radius: 25px;
margin-right: 25px;
padding: 0 50px;
padding-bottom: 25px;

}

.trio-block img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-right: 100px;
}

.trio-block h3 {
    text-align: left;

    color: #304271;
    font-size: 24px;
    
}


.trio-block p {
    text-align: left;
    color: #304271;
    font-family: helvetica, arial;
    font-weight: 400;
    padding-right: 75px;
}

.trio-block .text-1 {
    color: #b2bfdd;
}

.trio-block .text-2 {
    color: #c2b2c4;
}

.trio-block .text-3 {
    color: #b9b2c8;
}

.brand-list{
    display: flex;
    gap: 30px;
    border-bottom: 2px solid #d1d6e0;

}

.brand-list img{
    width: 250px;
    height: 100px;
    
}

body{
    width: 100%;
    overflow-x: hidden;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}

.main-footer i{
    color: #afc3e5;
    margin-right: 25px;
}

.main-footer p{
    color: #000000;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
}


.m-6{
    margin: 200px 0;
}