/* *{
    margin: 0;
    padding: 0;
} */


.main-desine{
    width: 100%;
    text-align: right;
    
}

.main-desine img{
    width: calc(1.5*600px);
    height: calc(1.5*600px);
    margin-left: calc(1.5*100px);
    margin-top: -90px;
}


.logo{
      height: 70px;
      width: 210px;
      margin: 0;
      margin-left: 100px;
}

.menu{
    margin-top: 10px;
    padding: 20px 0;    
}
 
.menu a{
    text-decoration: none;
    color: #bb8493;
    padding-right: 35px;
    
}

.menu .active{
    color: #3b3b3b;
    font-weight: 900;
}

.active:after{
content: '';
background-color: #1e78f0;
transform: translateX(-50%);
width: 10px;
height: 10px;
left: 50%;
bottom: -10px;
position: absolute;
border-radius: 50%;
}

.button{
text-decoration: none;
color: #fff;
padding: 3px 20px;
background-color: #a0dbaf;
border-radius: 12px;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
font-weight: 900;
margin-right: 50px;
font-size: 22px;
    cursor: pointer;

}

.main-nav a{
    padding-top: 15px;
}


.main-nav{
display: flex;
justify-content: space-between;
background-color: #dbafa0;
}



h1{
    font-weight: 900;
    font-size: calc(1.5*4rem);
    font-family: helvetica;
    color: #704264;

}


.money-melyna{
    color: #bb8493;
}



.container{
 margin: 0 100px;
    display: flex;

}

.lygiuote-get{
    display: flex;
    flex-direction: row;
    
}

i{
    color: rgb(102, 224, 102);
}

.get-text{
    font-weight: 300;
    margin-left: 0.5rem;
    color: #bb8493;
    font-size: 16px;

  
}

.lygiuote-get i {
    color: yellow;
}

.text-gray {
    color: #dbafa0;
    font-size: calc(1.5*1rem);
}

.m{
  margin-top: 50px; 
}

.m-2{
    margin-top: 100px;
}


.m-3{
    margin-top: 150px;
}


.main-kaire {
    margin-right: 25px;
}

.button-1{
justify-content: space-between;
color: #fff;
    background-color: #a0dbaf;
    margin-right: 25px;
    border-radius: 10px;
    padding: 15px 45px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;

}

.button-2{
    color: #333333;
    background-color: #fff;
    border: 1px solid lightgray;
}


.main-buttons{
    display: flex;
}

footer{
    text-align: right;
    background-color: #dbafa0;
    padding: 25px;
    font-weight: 500;
  
}


.trio-block{
    display: flex;
    margin-right: 1700px;
    margin-left: 100px;
}

.trio-block .block-1{
    background-color: #e9f3ff;
    position: relative;
        flex-direction: column;
    border-radius: 25px;
    margin-right: 25px;
    padding: 0 50px;
    padding-bottom: 25px;


}


.trio-block .block-2{
    background-color: #faeff6;
    position: relative;
    flex-direction: column;
border-radius: 25px;
margin-right: 25px;
padding: 0 50px;
padding-bottom: 25px;



}


.trio-block .block-3{
    background-color: #f2ecff;
    position: relative;
    flex-direction: column;
border-radius: 25px;
margin-right: 25px;
padding: 0 50px;
padding-bottom: 25px;

}

.trio-block img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-right: 100px;
}

.trio-block h3 {
    text-align: left;

    color: #304271;
    font-size: 24px;
    
}


.trio-block p {
    text-align: left;
    color: #304271;
    font-family: helvetica, arial;
    font-weight: 400;
    padding-right: 75px;
}

.trio-block .text-1 {
    color: #b2bfdd;
}

.trio-block .text-2 {
    color: #c2b2c4;
}

.trio-block .text-3 {
    color: #b9b2c8;
}

.brand-list{
    background-color: #704264;    ;
    border-bottom: 2px solid #bb8493;
    border-top: 2px solid #bb8493;
    padding: 25px 0;


}

.brand-list img{
    width: 40%;
    height: 40%;
   margin-left: 700px;
   border: 500px red;

    
}

body{
    width: 100%;
    overflow-x: hidden;
    background: rgb(73,36,62);
background: linear-gradient(90deg, rgba(73,36,62,1) 20%, rgba(112,66,100,1) 40%, rgba(187,132,147,1) 60%, rgba(219,175,160,1) 80%);
}

.main-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}

.main-footer i{
    margin-top: 12px;
    color: #bb8493;
    margin-right: 25px;
}

.main-footer p{
    color: #bb8493;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
}


.m-6{
    margin: 200px 0;
}

.crazy{
    color: #bb8493;
    border: 5px solid #bb8493;
    
}

.socials i:hover{
    background-color: #704264
    ;
    color: #fff;
}