/* *{
    margin: 0;
    padding: 0;
} */


img{
    width: 600px;
    height: 600px;
    margin-left: 200px;
    margin-top: -90px;
}


.logo{
      height: 70px;
      width: 210px;
      margin: 0;
      margin-left: 80px;
}

.menu{
    margin-top: 10px;
    padding: 20px 0;
}
 
.menu a{
    text-decoration: none;
    color: #d1d6e0;
    padding-right: 35px;
    
}

.menu .active{
    color: #3b3b3b;
    font-weight: 900;
}

.button{
text-decoration: none;
color: #fff;
padding: 4px 30px;
background-color: #333333;
border-radius: 12px;
text-align: center;
margin-top: 12px;
margin-bottom: 8px;
font-weight: 600;
margin-right: 50px;
}

.main-nav a{
    padding-top: 15px;
}


.main-nav{
display: flex;
justify-content: space-between;
background-color: #f8fbfb;
}



h1{
    font-weight: 900;
    font-size: 4rem;
    font-family: helvetica;

}


.money-melyna{
    color: #1e78f0;
}



.container{
 margin: 0 100px;
    display: flex;

}

.lygiuote-get{
    display: flex;
    flex-direction: row;
    
}

i{
    color: rgb(102, 224, 102);
}

.get-text{
    font-weight: 300;
    margin-left: 0.5rem;
    color: #afc3e5;
    font-size: 12px;
  
}

.text-gray {
    color: #98aacc;
    font-size: 1rem;
}

.m{
  margin-top: 50px; 
}

.m-2{
    margin-top: 100px;
}


.m-3{
    margin-top: 150px;
}


.main-kaire {
    margin-right: 200px;
}

.button-1{
    color: #fff;
    background-color: #1e78f0;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}

.button-2{
    color: #333333;
    background-color: #fff;
    border: 1px solid lightgray;
}